
	.templates-grid {
/*
	    display: grid;
	    grid-template-columns: repeat(4, minmax(65px, 300px));
	    gap: 1rem;
*/
	}
	
	.templates-grid > .row > div {
		overflow: hidden;
	    height: 546px;
	    margin-bottom: 2rem;
    }
    
    .templates-grid .screen {
        height: 680px;
		overflow: hidden;
    	min-height: 680px;
    }
    
	.templates-grid .device {
	    transform: scale(0.7);
    transform-origin: 50% 0px;
    margin-left: -53px;
/*
	    transform: scale(0.7);
	    transform-origin: 50% 0px;
        max-height: 600px;
	    min-height: 600px;
	    overflow: hidden;
*/
		    box-shadow: 0 2px 2px 0 #d8dbdd;
	}
